@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

/* navbar and logo */
.navbar-nav .nav-item a{
    color: #FFF;
}

.navbar {
    position: relative;
    color: #FFF;
    background-color: transparent !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: whitesmoke;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.4em;
    font-style: italic;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    position: relative;
    left: 50%;
    margin-left: -95px !important;  /* 50% of your logo width */
    display: block;
    width: 190px;
}

.navbar .navbar-toggler {
   color: white;
   position: relative;
   left: 25%;
   bottom: 150px;
} 

@media only screen and (max-width: 767px) {
    .navbar ul.navbar-nav li.nav-item a.nav-link {
        background-color: rgba(0, 0, 0, 0.8);
    }
}
    
.navbar {
    position: relative;
    display: block;
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
}

.bigpic { 
    width: 100%; 
}

@media only screen and (min-width: 1201px) {
    .bigpic {
    height: 100%;
    min-height: 80px;
    }
    
    .logo {
        width: 180px;
        margin-left: -90px !important;
    }
    
    .nav-link {
        font-size: 1.3em !important;
    }
}

@media only screen and (max-width: 1200px) {
    .bigpic {
    height: 75%;
    min-height: 80px;
    }
    
    .logo {
        width: 130px;
        margin-left: -65px !important;
    }
    
    .nav-link {
        font-size: 1.1em !important;
    }
}

@media only screen and (max-width: 500px) {
    .bigpic {
    height: 75%;
    min-height: 80px;
    }
    
    .logo {
        width: 80px;
        margin-left: -45px !important;
    }
    
    .nav-link {
        font-size: 1.0em !important;
    }
}

/* navbar black */
.nav-black {
    color: black !important;
}


/* stories */

.stories-h2 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
    font-size: 1.6em;
    color: black !important;
}

.photos img{
    width:100%;
    height: 230px;
}

/* footer */

.bottom-contact{
    color: black !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-content {
    padding-left: 20px;
    padding-right: 20px;
}

.contact-h2 {
    font-family: 'Roboto', sans-serif;
    text-decoration: none !important;
    color: black;
}

.contact-about {
    font-size: 600;
}

.contact-p {
    color: black !important;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 100;
}

@media only screen and (max-width: 767px) {
    .border-right {
        border: none !important;
    }
    .border-left {
        border: none !important;
    }
}

/* Zdjęcie pod navbar */

.carousel {
    position: absolute;
    width: 100%;
    top: 0;
}

.navbar-default {
    position: relative;
    z-index: 1000;
}

.carousel-inner>.item { 
    padding-top: 80px;
}

/* ikony follow */

.icon-follow {
    display: block;
    font-size: 29px;
    color: black;
    margin-top: 20px;
    line-height: 35px;
}

.icon-follow:hover { 
    color:gray; 
    font-size: 32px;
}


/* Początek - Zdjęcia index */

.image {
    position: relative;
    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
    color: rgba(0, 0, 0, 0.0);
    padding-right: 25px;
    padding-left: 25px;
}

.image:hover{
    -webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	-o-filter: brightness(60%);
	-ms-filter: brightness(60%);
	filter: brightness(60%);
    color: white;
}

.text-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Koniec - Zdjęcia index */

/* O mnie */

#h2-about {
    color: black;
    padding: 10px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 45px;
    margin-top: 15px;
}

.bg-grey {
    background-color: #eee;
}

